#modal-background {
    background: rgba(0, 0, 0, 0.4); /* 1 for opacity is black */ 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* TODO: modal currently gets pushed up by firefox devtools, should I prevent that?*/
#modal {
    background: white;
    border: solid 1px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px #cccccc;
    border-radius: 5px;
    position: fixed;
    left: 3%;
    top: 20%;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 1em;    
}
/* mobile first design*/
@media only screen and (min-width: 1080px) {
    #modal {
        width: 38%;
        top: 35%;
        left: 30%;
    }
}
#noteTitleModal {
    background: none;
    font-size: 1.5em;
    min-height: 1.5em;
    font-weight: bold;
}
#noteTextModal {
    background: none;
    font-size: 1em;
}
#editNoteButtonModal {
    background: none;
    border-radius: 10px;
    align-self: flex-end;
    border: solid 1px transparent;
    font-size: 1em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}
#editNoteButtonModal:hover {
    border: solid 1px black;
}