.nav {
    background: inherit;
    /* border-radius: 10px; */
    /* margin-left:100px; */
    /* margin-right: 100px; */
    height: 50px;
    display:flex;
    align-items: center;
}
@media only screen and (max-width: 1080px) {
    .nav {
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
    }
}
#home {
    margin-left: 1%;
    background: inherit;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 26px;
}
@media only screen and (max-width: 1080px) {
    #home {
        font-size: 26px;
    }
}