#addNoteContainer{
    margin:2%;
    /* background: red; */
}
#addNoteForm {
    /* background: #b3d5e6; */
    margin:0 auto;
    width:50%;
    text-align: center;
}
@media only screen and (max-width: 1080px) {
    #addNoteForm {
        width:80%;
    } 
}
.addNoteInput {
    border:none;
    width:98%;
    height: 20px;
    border-radius: 10px;
    padding: 2%;
    margin:1%;
    font-size: 20px;
}
@media only screen and (max-width: 1080px) {
    .addNoteInput {
        height: 40px;
        font-size: 24px;
    }
}
#addNoteButton {
    background: #e4f5fd;
    border-radius: 10px;
    border: none;
    padding: 2%;
    width: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
@media only screen and (max-width: 1080px) {
    #addNoteButton {
        width: 90px;
        font-size: 26px;
    }
}