#allNotesContainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#noteBox{
    background: #aaccdd;
    margin: 5%;
    border-radius: 10px;
    padding: 3%;
}
#noteTitle{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #cccccc; */
    
    /* the following two are 
    needed to center the title*/
    display: block;
    text-align: center;
}
#noteText{
    display:block;
}