#allNotesContainer{
    display: grid;
    grid-template-columns: 1fr;
    
}
/* mobile first design to speed up mobile version of site*/
@media only screen and (min-width: 1080px) {
    #allNotesContainer{
        grid-template-columns: repeat(4, 1fr);
        margin-left: 4%;
        margin-right: 4%;
    }
}
