#allNotesContainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-template-columns: 50% 50%; */
}
@media only screen and (max-width: 1080px) {
    #allNotesContainer{
        display: grid;
        /* grid-template-columns: 25% 25% 25% 25%; */
        grid-template-columns: 50% 50%;
    }
}
#noteBox{
    background: #aaccdd;
    margin: 5%;
    border-radius: 10px;
    padding: 3%;
}
#noteTitle{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #cccccc; */
    
    /* the following two are 
    needed to center the title*/
    display: block;
    text-align: center;
}
@media only screen and (max-width: 1080px) {
    #noteTitle {
        font-size: 30px;

    }
}
#noteText{
    display:block;
}
@media only screen and (max-width: 1080px) {
    #noteText {
        font-size: 28px;

    }
}